<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCTY 불법 주차 단속 지역</title>
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=<%= KAKAO_JAVASCRIPT_KEY %>"></script>
</head>
<body>
    <div id="map" style="width:1000px;height:500px;"></div>
    <script async>
        // flag 사용하게 되면, 마커를 세부화 해야할 듯
        var flag = false;
        var mainMarker;
        var container = document.getElementById('map');
        var options = {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level: 3
        };
        var map = new kakao.maps.Map(container, options);
        
        
        if (navigator.geolocation) {
            alert('위치정보 확인');
            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
            var navigator = navigator.geolocation.watchPosition(success,error,options);
            function success(position) {
            console.log(position);
            lat = position.coords.latitude,
            lon = position.coords.longitude; 
            var locPosition = new kakao.maps.LatLng(lat, lon);

            // 마커와 인포윈도우를 표시합니다
            displayMarker(locPosition);

            const data = JSON.parse('<%- JSON.stringify(data) %>');
            for(let i = 0; i < data.length; i++){
                dataLocation(data[i].lon, data[i].lat);
            }
        };
    } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
    
        var locPosition = new kakao.maps.LatLng(33.450701, 126.570667);
        
        displayMarker(locPosition);
    }

    function error (err){
        console.error(err);
    }

    // 지도에 마커와 인포윈도우를 표시하는 함수입니다
    function displayMarker(locPosition) {
        if(flag){
            mainMarker.setMap(null);
        }

        const icon = new kakao.maps.MarkerImage(
        'https://i1.daumcdn.net/dmaps/apis/n_local_blit_04.png',
        new kakao.maps.Size(31, 35));
        
        // 마커를 생성합니다
        mainMarker = new kakao.maps.Marker({ 
            map: map, 
            position: locPosition,
            image : icon
        }); 


        // 지도 중심좌표를 접속위치로 변경합니다
        map.setCenter(locPosition);  
        flag = true;
    }    

    async function dataLocation(lon, lat){
        const markerArray = [];
        var markerPosition  = new kakao.maps.LatLng(lon, lat); 
        markerArray.push(markerPosition);

        // 마커를 생성합니다
        for(let i = 0; i < markerArray.length; i++){
            var marker = new kakao.maps.Marker({
                position: markerArray[i]
            });
        }

        // 마커가 지도 위에 표시되도록 설정합니다
        await marker.setMap(map);
    }

    </script>
</body>
</html>